In [96]:
from mongodb_connection import MongoDB_Connection  # Made by me
from bson import json_util

In [97]:
collection = MongoDB_Connection("sample_restaurants", "restaurants").connect()

In [98]:
def response_printer(response_cursor, limit=5):
    response = list(response_cursor)
    response_len = len(response)

    response_printable_len = min(response_len, limit)
    first_or_only = "only" if response_len <= limit else "first"

    print(
        f"Showing the {first_or_only} {response_printable_len} restaurants ({response_len} in total):"
    )

    for restaurant in response[:(response_printable_len)]:
        print("=" * 60)
        print(json_util.dumps(restaurant, indent=4))

    if response_len > limit:
        print("=" * 30)
        print(f"{response_len-limit} results left.")

In [99]:
# 1. Write a MongoDB query to display all the documents in the collection restaurants for all the documents in the collection restaurant

response = collection.find(filter={}, projection={})
response_printer(response)

Showing the first 5 restaurants (25359 in total):
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292a"
    },
    "address": {
        "building": "2780",
        "coord": [
            -73.98241999999999,
            40.579505
        ],
        "street": "Stillwell Avenue",
        "zipcode": "11224"
    },
    "borough": "Brooklyn",
    "cuisine": "American",
    "grades": [
        {
            "date": {
                "$date": "2014-06-10T00:00:00Z"
            },
            "grade": "A",
            "score": 5
        },
        {
            "date": {
                "$date": "2013-06-05T00:00:00Z"
            },
            "grade": "A",
            "score": 7
        },
        {
            "date": {
                "$date": "2012-04-13T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2011-10-12T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        }
    ],
    "name": "Riviera Caterer",
    "restaurant_id": "40356018"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292b"
    },
    "address": {
        "building": "7114",
        "coord": [
            -73.9068506,
            40.6199034
        ],
        "street": "Avenue U",
        "zipcode": "11234"
    },
    "borough": "Brooklyn",
    "cuisine": "Delicatessen",
    "grades": [
        {
            "date": {
                "$date": "2014-05-29T00:00:00Z"
            },
            "grade": "A",
            "score": 10
        },
        {
            "date": {
                "$date": "2014-01-14T00:00:00Z"
            },
            "grade": "A",
            "score": 10
        },
        {
            "date": {
                "$date": "2013-08-03T00:00:00Z"
            },
            "grade": "A",
            "score": 8
        },
        {
            "date": {
                "$date": "2012-07-18T00:00:00Z"
            },
            "grade": "A",
            "score": 10
        },
        {
            "date": {
                "$date": "2012-03-09T00:00:00Z"
            },
            "grade": "A",
            "score": 13
        },
        {
            "date": {
                "$date": "2011-10-14T00:00:00Z"
            },
            "grade": "A",
            "score": 9
        }
    ],
    "name": "Wilken'S Fine Food",
    "restaurant_id": "40356483"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292c"
    },
    "address": {
        "building": "2206",
        "coord": [
            -74.1377286,
            40.6119572
        ],
        "street": "Victory Boulevard",
        "zipcode": "10314"
    },
    "borough": "Staten Island",
    "cuisine": "Jewish/Kosher",
    "grades": [
        {
            "date": {
                "$date": "2014-10-06T00:00:00Z"
            },
            "grade": "A",
            "score": 9
        },
        {
            "date": {
                "$date": "2014-05-20T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2013-04-04T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2012-01-24T00:00:00Z"
            },
            "grade": "A",
            "score": 9
        }
    ],
    "name": "Kosher Island",
    "restaurant_id": "40356442"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292d"
    },
    "address": {
        "building": "469",
        "coord": [
            -73.961704,
            40.662942
        ],
        "street": "Flatbush Avenue",
        "zipcode": "11225"
    },
    "borough": "Brooklyn",
    "cuisine": "Hamburgers",
    "grades": [
        {
            "date": {
                "$date": "2014-12-30T00:00:00Z"
            },
            "grade": "A",
            "score": 8
        },
        {
            "date": {
                "$date": "2014-07-01T00:00:00Z"
            },
            "grade": "B",
            "score": 23
        },
        {
            "date": {
                "$date": "2013-04-30T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2012-05-08T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        }
    ],
    "name": "Wendy'S",
    "restaurant_id": "30112340"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292e"
    },
    "address": {
        "building": "1007",
        "coord": [
            -73.856077,
            40.848447
        ],
        "street": "Morris Park Ave",
        "zipcode": "10462"
    },
    "borough": "Bronx",
    "cuisine": "Bakery",
    "grades": [
        {
            "date": {
                "$date": "2014-03-03T00:00:00Z"
            },
            "grade": "A",
            "score": 2
        },
        {
            "date": {
                "$date": "2013-09-11T00:00:00Z"
            },
            "grade": "A",
            "score": 6
        },
        {
            "date": {
                "$date": "2013-01-24T00:00:00Z"
            },
            "grade": "A",
            "score": 10
        },
        {
            "date": {
                "$date": "2011-11-23T00:00:00Z"
            },
            "grade": "A",
            "score": 9
        },
        {
            "date": {
                "$date": "2011-03-10T00:00:00Z"
            },
            "grade": "B",
            "score": 14
        }
    ],
    "name": "Morris Park Bake Shop",
    "restaurant_id": "30075445"
}
==============================
25354 results left.

In [100]:
# 2. Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine

response = collection.find(
    filter={},
    projection={"restaurant_id": 1, "name": 1, "borough": 1, "cuisine": 1},
)
response_printer(response)

Showing the first 5 restaurants (25359 in total):
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292a"
    },
    "borough": "Brooklyn",
    "cuisine": "American",
    "name": "Riviera Caterer",
    "restaurant_id": "40356018"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292b"
    },
    "borough": "Brooklyn",
    "cuisine": "Delicatessen",
    "name": "Wilken'S Fine Food",
    "restaurant_id": "40356483"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292c"
    },
    "borough": "Staten Island",
    "cuisine": "Jewish/Kosher",
    "name": "Kosher Island",
    "restaurant_id": "40356442"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292d"
    },
    "borough": "Brooklyn",
    "cuisine": "Hamburgers",
    "name": "Wendy'S",
    "restaurant_id": "30112340"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292e"
    },
    "borough": "Bronx",
    "cuisine": "Bakery",
    "name": "Morris Park Bake Shop",
    "restaurant_id": "30075445"
}
==============================
25354 results left.

In [101]:
# 3. Write a MongoDB query to display the fields restaurant_id, name, borough and zip code, but exclude the field _id for all the documents in the collection restaurant.

response = collection.find(
    filter={},
    projection={
        "restaurant_id": 1,
        "name": 1,
        "borough": 1,
        "address": {"zipcode": 1},
        "_id": 0,
    },
)
response_printer(response)

Showing the first 5 restaurants (25359 in total):
============================================================
{
    "address": {
        "zipcode": "11224"
    },
    "borough": "Brooklyn",
    "name": "Riviera Caterer",
    "restaurant_id": "40356018"
}
============================================================
{
    "address": {
        "zipcode": "11234"
    },
    "borough": "Brooklyn",
    "name": "Wilken'S Fine Food",
    "restaurant_id": "40356483"
}
============================================================
{
    "address": {
        "zipcode": "10314"
    },
    "borough": "Staten Island",
    "name": "Kosher Island",
    "restaurant_id": "40356442"
}
============================================================
{
    "address": {
        "zipcode": "11225"
    },
    "borough": "Brooklyn",
    "name": "Wendy'S",
    "restaurant_id": "30112340"
}
============================================================
{
    "address": {
        "zipcode": "10462"
    },
    "borough": "Bronx",
    "name": "Morris Park Bake Shop",
    "restaurant_id": "30075445"
}
==============================
25354 results left.

In [102]:
# 4. Write a MongoDB query to display all the restaurant which is in the borough Bronx

response = collection.find(
    filter={"borough": "Bronx"},
    projection={"name": 1, "borough": 1, "restaurant_id": 1},
)
response_printer(response)

Showing the first 5 restaurants (2338 in total):
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292e"
    },
    "borough": "Bronx",
    "name": "Morris Park Bake Shop",
    "restaurant_id": "30075445"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f42933"
    },
    "borough": "Bronx",
    "name": "Wild Asia",
    "restaurant_id": "40357217"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4294a"
    },
    "borough": "Bronx",
    "name": "Carvel Ice Cream",
    "restaurant_id": "40363093"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4294b"
    },
    "borough": "Bronx",
    "name": "Happy Garden",
    "restaurant_id": "40363289"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4295c"
    },
    "borough": "Bronx",
    "name": "Happy Garden",
    "restaurant_id": "40364296"
}
==============================
2333 results left.

In [103]:
# 5. Write a MongoDB query to display the first 5 restaurants which are in the borough Bronx.

response = collection.find(filter={}, projection={"name": 1, "_id": 0}, limit=5)
response_printer(response)

Showing the only 5 restaurants (5 in total):
============================================================
{
    "name": "Riviera Caterer"
}
============================================================
{
    "name": "Wilken'S Fine Food"
}
============================================================
{
    "name": "Kosher Island"
}
============================================================
{
    "name": "Wendy'S"
}
============================================================
{
    "name": "Morris Park Bake Shop"
}

In [104]:
# 6. Write a MongoDB query to find the restaurants who achieved a score more than 90.

# Utiliza $elemMatch para buscar dentro de un array (grades) y filtrar documentos que contengan al menos una calificación que cumpla con el criterio de puntuación mayor a 90.
response = collection.find(
    filter={
        "grades": {
            "$elemMatch": {
                "score": {"$gt": 90}  # Buscar calificaciones con un score mayor a 90
            }
        }
    },
    projection={"name": 1, "grades": 1, "restaurant_id": 1, "_id": 0},
)
response_printer(response)

Showing the only 4 restaurants (4 in total):
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-08-22T00:00:00Z"
            },
            "grade": "A",
            "score": 11
        },
        {
            "date": {
                "$date": "2014-03-28T00:00:00Z"
            },
            "grade": "C",
            "score": 131
        },
        {
            "date": {
                "$date": "2013-09-25T00:00:00Z"
            },
            "grade": "A",
            "score": 11
        },
        {
            "date": {
                "$date": "2013-04-08T00:00:00Z"
            },
            "grade": "B",
            "score": 25
        },
        {
            "date": {
                "$date": "2012-10-15T00:00:00Z"
            },
            "grade": "A",
            "score": 11
        },
        {
            "date": {
                "$date": "2011-10-19T00:00:00Z"
            },
            "grade": "A",
            "score": 13
        }
    ],
    "name": "Murals On 54/Randolphs'S",
    "restaurant_id": "40372466"
}
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-09-15T00:00:00Z"
            },
            "grade": "A",
            "score": 5
        },
        {
            "date": {
                "$date": "2014-01-14T00:00:00Z"
            },
            "grade": "A",
            "score": 8
        },
        {
            "date": {
                "$date": "2013-05-30T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2013-04-24T00:00:00Z"
            },
            "grade": "P",
            "score": 2
        },
        {
            "date": {
                "$date": "2012-10-01T00:00:00Z"
            },
            "grade": "A",
            "score": 9
        },
        {
            "date": {
                "$date": "2012-04-06T00:00:00Z"
            },
            "grade": "C",
            "score": 92
        },
        {
            "date": {
                "$date": "2011-11-03T00:00:00Z"
            },
            "grade": "C",
            "score": 41
        }
    ],
    "name": "Gandhi",
    "restaurant_id": "40381295"
}
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-12-24T00:00:00Z"
            },
            "grade": "Z",
            "score": 31
        },
        {
            "date": {
                "$date": "2014-06-17T00:00:00Z"
            },
            "grade": "C",
            "score": 98
        },
        {
            "date": {
                "$date": "2013-12-12T00:00:00Z"
            },
            "grade": "C",
            "score": 32
        },
        {
            "date": {
                "$date": "2013-05-22T00:00:00Z"
            },
            "grade": "B",
            "score": 21
        },
        {
            "date": {
                "$date": "2012-05-02T00:00:00Z"
            },
            "grade": "A",
            "score": 11
        }
    ],
    "name": "Bella Napoli",
    "restaurant_id": "40393488"
}
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-09-25T00:00:00Z"
            },
            "grade": "A",
            "score": 7
        },
        {
            "date": {
                "$date": "2014-03-20T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2013-09-09T00:00:00Z"
            },
            "grade": "B",
            "score": 21
        },
        {
            "date": {
                "$date": "2013-03-25T00:00:00Z"
            },
            "grade": "B",
            "score": 18
        },
        {
            "date": {
                "$date": "2012-08-15T00:00:00Z"
            },
            "grade": "A",
            "score": 11
        },
        {
            "date": {
                "$date": "2011-12-23T00:00:00Z"
            },
            "grade": "C",
            "score": 98
        }
    ],
    "name": "Baluchi'S Indian Food",
    "restaurant_id": "41569277"
}

In [105]:
# 7. Write a MongoDB query to find the restaurants that achieved a score, more than 80 but less than 100

response = collection.find(
    filter={
        "grades": {
            "$elemMatch": {
                "score": {"$gt": 80, "$lt": 100}  # mayor a 80 pero menor a 100
            }
        }
    },
    projection={"name": 1, "grades": 1, "restaurant_id": 1, "_id": 0},
)
response_printer(response)

Showing the first 5 restaurants (11 in total):
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-09-15T00:00:00Z"
            },
            "grade": "A",
            "score": 5
        },
        {
            "date": {
                "$date": "2014-01-14T00:00:00Z"
            },
            "grade": "A",
            "score": 8
        },
        {
            "date": {
                "$date": "2013-05-30T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2013-04-24T00:00:00Z"
            },
            "grade": "P",
            "score": 2
        },
        {
            "date": {
                "$date": "2012-10-01T00:00:00Z"
            },
            "grade": "A",
            "score": 9
        },
        {
            "date": {
                "$date": "2012-04-06T00:00:00Z"
            },
            "grade": "C",
            "score": 92
        },
        {
            "date": {
                "$date": "2011-11-03T00:00:00Z"
            },
            "grade": "C",
            "score": 41
        }
    ],
    "name": "Gandhi",
    "restaurant_id": "40381295"
}
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-12-24T00:00:00Z"
            },
            "grade": "Z",
            "score": 31
        },
        {
            "date": {
                "$date": "2014-06-17T00:00:00Z"
            },
            "grade": "C",
            "score": 98
        },
        {
            "date": {
                "$date": "2013-12-12T00:00:00Z"
            },
            "grade": "C",
            "score": 32
        },
        {
            "date": {
                "$date": "2013-05-22T00:00:00Z"
            },
            "grade": "B",
            "score": 21
        },
        {
            "date": {
                "$date": "2012-05-02T00:00:00Z"
            },
            "grade": "A",
            "score": 11
        }
    ],
    "name": "Bella Napoli",
    "restaurant_id": "40393488"
}
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-06-27T00:00:00Z"
            },
            "grade": "C",
            "score": 89
        },
        {
            "date": {
                "$date": "2013-06-06T00:00:00Z"
            },
            "grade": "A",
            "score": 6
        },
        {
            "date": {
                "$date": "2012-06-19T00:00:00Z"
            },
            "grade": "A",
            "score": 13
        }
    ],
    "name": "West 79Th Street Boat Basin Cafe",
    "restaurant_id": "40756344"
}
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-05-12T00:00:00Z"
            },
            "grade": "B",
            "score": 14
        },
        {
            "date": {
                "$date": "2013-11-20T00:00:00Z"
            },
            "grade": "C",
            "score": 84
        },
        {
            "date": {
                "$date": "2012-09-18T00:00:00Z"
            },
            "grade": "A",
            "score": 11
        },
        {
            "date": {
                "$date": "2012-05-03T00:00:00Z"
            },
            "grade": "B",
            "score": 23
        }
    ],
    "name": "Spicy Shallot",
    "restaurant_id": "40979431"
}
============================================================
{
    "grades": [
        {
            "date": {
                "$date": "2014-10-14T00:00:00Z"
            },
            "grade": "C",
            "score": 84
        },
        {
            "date": {
                "$date": "2014-02-14T00:00:00Z"
            },
            "grade": "A",
            "score": 5
        },
        {
            "date": {
                "$date": "2013-07-11T00:00:00Z"
            },
            "grade": "A",
            "score": 10
        },
        {
            "date": {
                "$date": "2013-01-29T00:00:00Z"
            },
            "grade": "C",
            "score": 36
        },
        {
            "date": {
                "$date": "2012-08-15T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2012-03-22T00:00:00Z"
            },
            "grade": "B",
            "score": 27
        }
    ],
    "name": "Bistro Caterers",
    "restaurant_id": "40987023"
}
==============================
6 results left.

In [106]:
# 8. Write a MongoDB query to find the restaurants that do not prepare any cuisine of 'American' and their grade score more than 70 and latitude less than -65.754168

response = collection.find(
    filter={
        "cuisine": {"$ne": "American"},  # No deben ser de cocina Americana
        "grades": {
            "$elemMatch": {
                "score": {
                    "$gt": 70
                }  # Deben tener al menos una calificación con puntuación mayor a 70
            }
        },
        "address.coord.1": {
            "$lt": -65.754168
        },  # Latitud (segundo elemento del array) menor a -65.754168
    },
    projection={"name": 1, "cuisine": 1, "grades": 1, "address": 1, "_id": 0},
)
response_printer(response)

Showing the only 0 restaurants (0 in total):

In [107]:
# 9. Write a MongoDB query to find the restaurants which do not prepare any cuisine of 'American' and achieved a score more than 70 and located in the longitude less than -65.754168.

response = collection.find(
    filter={
        "cuisine": {"$ne": "American"},  # No deben ser de cocina Americana
        "grades": {
            "$elemMatch": {
                "score": {
                    "$gt": 70
                }  # Deben tener al menos una calificación con puntuación mayor a 70
            }
        },
        "address.coord.0": {
            "$lt": -65.754168
        },  # Longitud (primer elemento del array) menor a -65.754168
    },
    projection={"name": 1, "cuisine": 1, "grades": 1, "address": 1, "_id": 0},
)
response_printer(response)

Showing the first 5 restaurants (26 in total):
============================================================
{
    "address": {
        "building": "345",
        "coord": [
            -73.9864626,
            40.7266739
        ],
        "street": "East 6 Street",
        "zipcode": "10003"
    },
    "cuisine": "Indian",
    "grades": [
        {
            "date": {
                "$date": "2014-09-15T00:00:00Z"
            },
            "grade": "A",
            "score": 5
        },
        {
            "date": {
                "$date": "2014-01-14T00:00:00Z"
            },
            "grade": "A",
            "score": 8
        },
        {
            "date": {
                "$date": "2013-05-30T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2013-04-24T00:00:00Z"
            },
            "grade": "P",
            "score": 2
        },
        {
            "date": {
                "$date": "2012-10-01T00:00:00Z"
            },
            "grade": "A",
            "score": 9
        },
        {
            "date": {
                "$date": "2012-04-06T00:00:00Z"
            },
            "grade": "C",
            "score": 92
        },
        {
            "date": {
                "$date": "2011-11-03T00:00:00Z"
            },
            "grade": "C",
            "score": 41
        }
    ],
    "name": "Gandhi"
}
============================================================
{
    "address": {
        "building": "130",
        "coord": [
            -73.984758,
            40.7457939
        ],
        "street": "Madison Avenue",
        "zipcode": "10016"
    },
    "cuisine": "Pizza/Italian",
    "grades": [
        {
            "date": {
                "$date": "2014-12-24T00:00:00Z"
            },
            "grade": "Z",
            "score": 31
        },
        {
            "date": {
                "$date": "2014-06-17T00:00:00Z"
            },
            "grade": "C",
            "score": 98
        },
        {
            "date": {
                "$date": "2013-12-12T00:00:00Z"
            },
            "grade": "C",
            "score": 32
        },
        {
            "date": {
                "$date": "2013-05-22T00:00:00Z"
            },
            "grade": "B",
            "score": 21
        },
        {
            "date": {
                "$date": "2012-05-02T00:00:00Z"
            },
            "grade": "A",
            "score": 11
        }
    ],
    "name": "Bella Napoli"
}
============================================================
{
    "address": {
        "building": "101",
        "coord": [
            -73.9243061,
            40.8276297
        ],
        "street": "East 161 Street",
        "zipcode": "10451"
    },
    "cuisine": "Latin (Cuban, Dominican, Puerto Rican, South & Central American)",
    "grades": [
        {
            "date": {
                "$date": "2014-04-10T00:00:00Z"
            },
            "grade": "A",
            "score": 10
        },
        {
            "date": {
                "$date": "2013-10-01T00:00:00Z"
            },
            "grade": "A",
            "score": 6
        },
        {
            "date": {
                "$date": "2013-04-11T00:00:00Z"
            },
            "grade": "B",
            "score": 25
        },
        {
            "date": {
                "$date": "2012-10-25T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        },
        {
            "date": {
                "$date": "2012-10-10T00:00:00Z"
            },
            "grade": "P",
            "score": 12
        },
        {
            "date": {
                "$date": "2012-05-25T00:00:00Z"
            },
            "grade": "B",
            "score": 14
        },
        {
            "date": {
                "$date": "2011-09-14T00:00:00Z"
            },
            "grade": "B",
            "score": 26
        },
        {
            "date": {
                "$date": "2011-04-25T00:00:00Z"
            },
            "grade": "C",
            "score": 76
        }
    ],
    "name": "El Molino Rojo Restaurant"
}
============================================================
{
    "address": {
        "building": "289",
        "coord": [
            -73.94610279999999,
            40.7137587
        ],
        "street": "Manhattan Avenue",
        "zipcode": "11211"
    },
    "cuisine": "Bakery",
    "grades": [
        {
            "date": {
                "$date": "2014-03-19T00:00:00Z"
            },
            "grade": "A",
            "score": 10
        },
        {
            "date": {
                "$date": "2013-10-10T00:00:00Z"
            },
            "grade": "A",
            "score": 10
        },
        {
            "date": {
                "$date": "2013-05-07T00:00:00Z"
            },
            "grade": "A",
            "score": 13
        },
        {
            "date": {
                "$date": "2012-09-11T00:00:00Z"
            },
            "grade": "B",
            "score": 18
        },
        {
            "date": {
                "$date": "2012-04-18T00:00:00Z"
            },
            "grade": "A",
            "score": 9
        },
        {
            "date": {
                "$date": "2011-09-27T00:00:00Z"
            },
            "grade": "A",
            "score": 8
        },
        {
            "date": {
                "$date": "2011-05-03T00:00:00Z"
            },
            "grade": "C",
            "score": 77
        }
    ],
    "name": "Fortunato Bros Cafe & Bakery"
}
============================================================
{
    "address": {
        "building": "231",
        "coord": [
            -73.9772294,
            40.7527262
        ],
        "street": "Grand Central Station",
        "zipcode": "10017"
    },
    "cuisine": "Italian",
    "grades": [
        {
            "date": {
                "$date": "2015-01-07T00:00:00Z"
            },
            "grade": "Z",
            "score": 20
        },
        {
            "date": {
                "$date": "2014-07-03T00:00:00Z"
            },
            "grade": "B",
            "score": 14
        },
        {
            "date": {
                "$date": "2013-12-21T00:00:00Z"
            },
            "grade": "A",
            "score": 13
        },
        {
            "date": {
                "$date": "2013-05-17T00:00:00Z"
            },
            "grade": "C",
            "score": 76
        },
        {
            "date": {
                "$date": "2012-04-20T00:00:00Z"
            },
            "grade": "A",
            "score": 12
        }
    ],
    "name": "Two Boots Grand Central"
}
==============================
21 results left.

In [108]:
# 10. Write a MongoDB query to find the restaurant Id, name, borough and cuisine for those restaurants which contain 'Wil' as first three letters for its name.

response = collection.find(
    filter={"name": {"$regex": "^Wil"}},
    projection={"name": 1, "borough": 1, "cuisine": 1, "restaurant_id": 1},
)
response_printer(response)

Showing the first 5 restaurants (31 in total):
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f4292b"
    },
    "borough": "Brooklyn",
    "cuisine": "Delicatessen",
    "name": "Wilken'S Fine Food",
    "restaurant_id": "40356483"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f42933"
    },
    "borough": "Bronx",
    "cuisine": "American",
    "name": "Wild Asia",
    "restaurant_id": "40357217"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f43734"
    },
    "borough": "Bronx",
    "cuisine": "Pizza",
    "name": "Wilbel Pizza",
    "restaurant_id": "40871979"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f43886"
    },
    "borough": "Manhattan",
    "cuisine": "Seafood",
    "name": "Wild Edibles",
    "restaurant_id": "40928482"
}
============================================================
{
    "_id": {
        "$oid": "5eb3d668b31de5d588f443c5"
    },
    "borough": "Brooklyn",
    "cuisine": "Bagels/Pretzels",
    "name": "Wild Bagels",
    "restaurant_id": "41225826"
}
==============================
26 results left.

In [109]:
# 11. Write a MongoDB query to find the restaurant name, borough, longitude and latitude and cuisine for those restaurants which contain 'Mad' as first three letters of its name.

response = collection.find(
    filter={"name": {"$regex": "^Mad"}},
    projection={"name": 1, "borough": 1, "address.coord": 1, "cuisine": 1, "_id": 0},
)
response_printer(response)

Showing the first 5 restaurants (35 in total):
============================================================
{
    "address": {
        "coord": [
            -73.9860597,
            40.7431194
        ]
    },
    "borough": "Manhattan",
    "cuisine": "American",
    "name": "Madison Square"
}
============================================================
{
    "address": {
        "coord": [
            -73.98302199999999,
            40.742313
        ]
    },
    "borough": "Manhattan",
    "cuisine": "Indian",
    "name": "Madras Mahal"
}
============================================================
{
    "address": {
        "coord": [
            -74.000002,
            40.72735
        ]
    },
    "borough": "Manhattan",
    "cuisine": "American",
    "name": "Madame X"
}
============================================================
{
    "address": {
        "coord": [
            -73.98171959999999,
            40.7499406
        ]
    },
    "borough": "Manhattan",
    "cuisine": "French",
    "name": "Madison Bistro"
}
============================================================
{
    "address": {
        "coord": [
            -73.9717845,
            40.6897199
        ]
    },
    "borough": "Brooklyn",
    "cuisine": "African",
    "name": "Madiba"
}
==============================
30 results left.